### JetBrains template
*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

# IntelliJ
out/
.idea_modules/

### Java template
*.class

# Package Files #
*.jar
*.war
*.ear

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
